extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/javascripts/layout.js')

  if error
    p #{error}
  else
    img(src=data.path)
    p #{data.title}
    p #{data.author}
    p #{data.information}
  a(href='/blog') Back
